body{
  background: radial-gradient(circle, #dad9d9, #e97e04);
  font-family: Arial, sans-serif;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  margin-top: auto;
  margin-bottom: 40px;
  transition: filter 1000ms;
}
.logo:hover {
  filter: drop-shadow(0 0 3em #ff1100aa);
}

.logo2 {
  width: 50px;
}