body{
  background: radial-gradient(circle, #dad9d9, #e97e04);
  font-family: Arial, sans-serif;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.imagen{
  margin-top: 100px;
  margin-bottom: 50px;
  transition: filter 1000ms;
  cursor: pointer;
  width: 450px;
}
.imagen:hover {
  filter: drop-shadow(0 0 3em #00ffff);
}

.logo2 {
  width: 55px;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}