/**Imagen principal Chuck**/
.imagen {
  margin-top: 40px;
  transition: filter 500ms;
  cursor: pointer;
  width: 450px;
}

.imagen:hover {
  filter: drop-shadow(0 0 3em black);
}

.logo2 {
  width: 55px;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo3 {
  width: 55px;
  animation: spin 2.5s linear infinite;
  margin-top: 15px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




.footer-container {
  width: 100%;
  margin-top: 10px;
  color: #ffffff;
  font-size: 15px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 -30px;
}

.footer-column {
  flex: 1;
  text-align: left;
  padding: 20px;
  max-width: 500px;
}

.footer-column h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: black;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-column2 {
  flex: 1;
  padding: 20px;
  max-width: 500px;
  text-align: right;
}

.footer-column2 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-column2 ul {
  list-style-type: none;
  padding: 0;
}

.footer-column2 ul li {
  margin-bottom: 10px;
}

.footer-column2 ul li a {
  color: black;
  text-decoration: none;
}

.footer-column2 ul li a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-between;
}

label {
  display: block;
  color: white;
}

input {
  width: 60%;
  background-color: white;
  color: black;
}

.buttonEspecial {
  margin-top: 40px;
  border: 2px solid;
  border-color: yellow
}

.buttonEspecial2 {
  width: 400px;
  height: 70px;
  margin-top: 20px;
  border: 2px solid;
  border-color: yellow;
  color: white;
  font-size: 20px;
  font-size: 20px;
}



.carta {
  margin-top: 10px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  font-family:cursive;
  font-size: 20px;
  padding: 20px;
}

.titulo {
  width: 50%;
  font-size: 30px;
  margin: auto;
  margin-top: 50px;
  color: white;
  background-color: black;
  border-radius: 15px;
  border: 2px solid yellow;
  font-family:cursive;
  cursor: pointer;
  transition: filter 500ms;
}
.titulo:hover {
  filter: drop-shadow(0 0 1em rgb(255, 238, 0));
}


.list-section {
  width: auto;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
}


.user-card {
    border-radius: 5px;
}


/*Botones Editar y Eliminar*/
.edit-btn {
  width: auto;
  height: 50px;
  padding: auto;
  border: 2px solid yellow;
  border-radius: 20px;
  margin-right: 20px;
}

.delete-btn {
  width: auto;
  height: 50px;
  padding: auto;
  border: 2px solid yellow;
  border-radius: 20px;
}
