/**Mantengo alineado al centro la pagina**/
:root {
  text-align: center;
  background-color: #242424;
}

/**Ingrese una imagen de bandera USA al bg**/
body {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/736x/f5/71/43/f57143810c15dddcd9f6c122770e3ad4.jpg");
}


form {
  width: 70%;
  border-radius: 10%;
  border: 2px solid white;
  margin: auto;
  margin-top: 90px;
  padding: 60px;
  transition: filter 500ms;
}


form:hover {
  filter: drop-shadow(0 0 5em black);
}

/**h2 del form**/
.form-h2 {
  font-size: 25px;
  font-family: cursive;
  line-height: 1.1;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 2px solid yellow;
}

h1 {
  color: white;
}

h2 {
  font-style: normal;
  font-family: cursive;
}



label {
  display: block;
  color: white;
}

input {
  width: 40%;
  background-color: white;
  color: black;
}

