:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

body {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/736x/f5/71/43/f57143810c15dddcd9f6c122770e3ad4.jpg");
}

form {
  width: auto;
  border-radius: 10%;
  border: 2px solid white;
  margin: auto;
  margin-top: 90px;
  padding: 60px;
  transition: filter 500ms;
}


form:hover {
  filter: drop-shadow(0 0 5em black);
}

h1 {
  font-size: 30px;
  font-family: cursive;
  line-height: 1.1;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 2px solid yellow;
}

h2 {
  font-style: normal;
  font-family: cursive;
}

button {
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 18px;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.50s;
  font-family: monospace;
}

button:hover {
  border-color: white;
}

